.changeLevel {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.services {
    background-color: rgb(0, 0, 0);
}

#addService {
    margin-left: 10px;
    border: 1px solid rgb(0, 197, 59);
    color: rgb(0, 197, 59);
}

#addService:hover {
    color: white;
    background-color: rgb(0, 155, 46);
}

.service {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    transition: .3s;
    padding: 15px;
    border-bottom: 1px solid rgb(189, 188, 188);
    color: white;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.price {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceActive {
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit {
    display: flex;
    margin-left: 100px;
    transition: .3s;
    margin-top: 5px;
    justify-content: center;
    cursor: pointer;
    
}
.edit:hover {
    transform: scale(1.2);
}

.time_block {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time_block img {
    padding-left: 5px;
    width: 19px;
    height: 19px;
}

.changeLevel_button {
    min-width: 180px;
    min-height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #B38861;
    color: #B38861;
    font-size: 18px;
    font-weight: 100;
    outline: none;
    transition: .3s ease-in-out;
}

.changeLevel_button:hover {
    transition: .3s ease-in-out;
    background: #B38861;
    color: white;
  }

@media (max-width: 800px) {
    .service {
        grid-template-columns: 3fr 1fr 1fr;
    }

    .changeLevel {
        display: grid;
        margin-top: 20px;
        margin-bottom: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .changeLevel_button {
        font-size: 15px;
        min-width: 100px;
        min-height: 50px;
    }
}

@media (max-width: 600px) {
    .service {
        grid-template-columns: 2fr 1fr 1fr;
        font-size: 16px;
    }
    .changeLevel_button {
        font-size: 14px;
        min-width: 80px;
        min-height: 40px;
    }
}

@media (max-width: 440px) {
    .service {
        grid-template-columns: 2fr 1fr 1fr;
        font-size: 12px;
    }
}