@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
html {
font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 50;
  font-weight: 200;
  line-height: 40px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 40px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.rotate-180 {
  transform: rotate(180deg);
}

.slick-prev {
  left: -52px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
}